.progress {
    height: 40px;
    background-color: #C3BCBC;
}

.sr-only {
    position: relative;
    white-space: nowrap;
}

.progress-bar-striped {
    text-align: left;
}

.progress-bar-striped span {
    line-height: 40px;
    font-size: 15px;
    padding-left: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}